
.accordion {
    display: flex;
}
.accordion:hover {
    background-color: #fafafa;
}

.accordian-title {
    display: flex;
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin dashed; */
    cursor: pointer;
    /* text-decoration: underline; */
    margin-top: -1px;

}

.accordian-content {
    display: flex;
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin solid #ddd; */
    
}

.open {
    /* border: thin dashed black; */
    margin-left: auto;
    align-items: flex-end;
    padding: 0px 16px;
    transition: -webkit-transform 1250ms ease-in-out 0s;
    transition: transform 1250ms ease-in-out 0s;
    transition: transform 1250ms ease-in-out 0s, -webkit-transform 1250ms ease-in-out 0s;
}

svg {
    display: inline-block;
    vertical-align: center;
}

* {
    box-sizing: border-box;
}

/* html {} */

body {
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    margin: 16px 0;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.root_App__Z9vvL {
    text-align: center;
}

.root_App-logo__OMv-V {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .root_App-logo__OMv-V {
        -webkit-animation: root_App-logo-spin__wNHCh infinite 20s linear;
                animation: root_App-logo-spin__wNHCh infinite 20s linear;
    }
}

.root_App-header__KKtkM {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.root_App-link__z-wQr {
    color: #61dafb;
}

@-webkit-keyframes root_App-logo-spin__wNHCh {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes root_App-logo-spin__wNHCh {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
:root {
    --padding : 0.05em;
    --start-color: #007cf0;
    --end-color: #00dfd8;
}

.animations_animatedGradientTextForeground__j1J8k {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.05em;
    padding-left: var(--padding);
    padding-right: 0.05em;
    padding-right: var(--padding);
    background-image: linear-gradient(90deg, #007cf0, #00dfd8);
    background-image: linear-gradient(90deg, var(--start-color), var(--end-color));
    position: relative;
    z-index: 1;
}

@-webkit-keyframes animations_changeBox__Eg63x {
    0% {
        background-color: red;
    }

    99.99% {
        background-color: red;
    }

    100% {
        background-color: cornflowerblue;
    }
}

@keyframes animations_changeBox__Eg63x {
    0% {
        background-color: red;
    }

    99.99% {
        background-color: red;
    }

    100% {
        background-color: cornflowerblue;
    }
}

@-webkit-keyframes animations_color-change__-93EA {
    0% {
        /* color: red; */
        background: linear-gradient(90deg, var(--bs-blue), var(--bs-indigo));
    }

    50% {
        /* color: blue; */
        background: linear-gradient(90deg, var(--bs-purple), var(--bs-pink));
    }

    100% {
        color: red;
        background: linear-gradient(90deg, var(--bs-orange), var(--bs-yellow));
    }
}

@keyframes animations_color-change__-93EA {
    0% {
        /* color: red; */
        background: linear-gradient(90deg, var(--bs-blue), var(--bs-indigo));
    }

    50% {
        /* color: blue; */
        background: linear-gradient(90deg, var(--bs-purple), var(--bs-pink));
    }

    100% {
        color: red;
        background: linear-gradient(90deg, var(--bs-orange), var(--bs-yellow));
    }
}

.animations_animatedGradientTextForeground__j1J8k {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.05em;
    padding-left: var(--padding);
    padding-right: 0.05em;
    padding-right: var(--padding);
    background-image: linear-gradient(90deg, #007cf0, #00dfd8);
    background-image: linear-gradient(90deg, var(--start-color), var(--end-color));
    position: relative;
    z-index: 1;
    -webkit-animation: animations_color-change__-93EA 1s infinite;
            animation: animations_color-change__-93EA 1s infinite;
    
}
:root {
    /* primary colors */
    --color-primary: #770087;
    --color-primary-0: #fff2fc;
    --color-primary-5: #fed6f4;
    --color-primary-10: #fdbbed;
    --color-primary-20: #fa86df;
    --color-primary-30: #f557d3;
    --color-primary-40: #ed30ca;
    --color-primary-50: #e413c3;
    --color-primary-60: #d700bf;
    --color-primary-70: #c700bb;
    --color-primary-80: #b300b3;
    --color-primary-90: #94009e;
    --color-primary-100: #770087;


    --background-light-color: #fff;
    --background-dark-color: #000;
    --background-surface-color: #fff;
    --background-highlight-color: #f3f3f3;

    --font-light-color: #fff;
    --font-dark-color: #000;
    --font-special-color: #f50;
    --font-error-color: #d61348;
    --font-primary-color: #000;
    --font-secondary-color: #666;
    --font-link-color: #044dd2;

    /* types of colors used in alerts */

    --color-primary-blue: #0d6efd;
    --color-secondary-gray: #6c757d;
    --color-success-green: #198754;
    --color-warning-yellow: #ffc107;
    --color-danger-red: #dc3545;
    --color-info-indigo : #0dcaf0;
    --color-neutral-whilte: #ffffff;
    --color-nutral-inverse-black: #000000;


    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;



}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
}

.accordian_accordion__g3K\+m {
    display: flex;
}

@-webkit-keyframes accordian_gradient__NtB4D {
    0% {
        background-color: #0d6efd;
        background-color: var(--bs-blue);
    }

    100% {
        background-color: #dc3545;
        background-color: var(--bs-red);
    }
}

@keyframes accordian_gradient__NtB4D {
    0% {
        background-color: #0d6efd;
        background-color: var(--bs-blue);
    }

    100% {
        background-color: #dc3545;
        background-color: var(--bs-red);
    }
}

.accordian_accordianTitle__hG259 {
    /* composes: animatedGradientTextForeground; */
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin dashed; */
    cursor: pointer;
    /* text-decoration: underline; */
    margin-top: -1px;

}

/* .accordianTitle:hover {
    background-color: #fafafa;
    margin-top: 0px;
} */

.accordian_accordianContent__eC9xy {
    padding: 0.5rem;
    border-collapse: collapse;
    box-sizing: border-box;
    /* background-color: aliceblue; */
    align-items: flex-start;
    /* border-bottom: thin solid #ddd; */

}

.accordian_open__8E2MG {
    /* border: thin dashed black; */
    margin-left: auto;
    align-items: flex-end;
    padding: 0px 16px;
    transition: -webkit-transform 100ms ease-in-out 0s;
    transition: transform 100ms ease-in-out 0s;
    transition: transform 100ms ease-in-out 0s, -webkit-transform 100ms ease-in-out 0s;
}

svg {
    display: inline-block;
    vertical-align: center;
}
.container {
    display: flex;
    align-items: center;
}

.border {
    border-bottom: thin solid #ddd;
    width: 100%;
}

.content {
    padding: 0 10px 0 10px;
}

hr {
    margin: 0;
    padding: 0;
    color: #ddd;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    height: 1px;
    outline: none;
    border: none;
    margin: 0 auto;
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;

}
.alert {
    /* border: .1px dashed black; */
    padding: 2px 10px;
    background-color: #e1ffd4;
    font-weight: 700;
    font-size: 12px;
    
}

.alert-close {
    padding: 2px;
    cursor: pointer;
    color: inherit;
}

.alert-close:hover {
    padding: 2px;
    border-radius: 50%;
    background-color: #00000038;
}

.alert-warning {
    background-color: #e74c3c;
}

.alert-bottom {
    /* align-items: center; */
    justify-content: space-between;
    background: rgb(30, 36, 41);
    border-radius: 2px;
    bottom: 12px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 65%);
    color: rgba(255, 255, 255, 0.95);
    display: flex;
    font-size: 12px;
    font-weight: 500;
    left: 12px;
    line-height: 20px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 8px;
    position: fixed;
    right: 12px;
    z-index: 1002;
}
article {
    position: relative;
    display: block;
    box-sizing: border-box;
    justify-content: left;
    height: calc(100% - 40px);
    min-height: 100vh;
    max-width: 768px;
    width: 100%;
    background: white;
    padding: 40px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s linear;
    text-align: left;
    overflow: hidden;
}

.border {
    border: thin solid #00000011;
    box-shadow: 0 0 0 1px vrgba(var(--grey-900), 0.1);
}

.raised {
    border: thin solid #00000011;
    box-shadow: 0 0 0 1px vrgba(var(--grey-900), 0.1);
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}

.markdown {
    scroll-behavior: smooth;
}
.tip {
    display: inline-block;
    border-radius: 1em;
    font-size: 11px;
    line-height: 12px;
    font-weight: 700;
    background: #E7FDD8;
    color: #66BF3C;
    padding: 4px 12px;
    margin-right: 10px;
    vertical-align: top;
    border: .1px dashed black;
}

.status-indicator_indicator__sOs1Y {
    flex-shrink: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--geist-success);
    margin: 0 7px;
}
#breadcrumb ul {
    list-style: none;
    display: inline-table;
    -webkit-padding-start: 1px;
            padding-inline-start: 1px;
    -webkit-margin-before: 6px;
            margin-block-start: 6px;
    -webkit-margin-after: 6px;
            margin-block-end: 6px;
}

#breadcrumb ul:last-child li {
    padding-right: 5px;
}

#breadcrumb li {
    display: inline;
    list-style-type: none;
}

#breadcrumb a {
    /* float: left; */
    background: #E7E9EB;
    padding: 3px 10px 3px 20px;
    position: relative;
    margin: 0 5px 0 0;
    text-decoration: none;
    color: #555;
}

#breadcrumb a:after {
    content: "";
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #E7E9EB;
    position: absolute;
    right: -12px;
    top: 0;
    z-index: 1;
}

#breadcrumb a:before {
    content: "";
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}
#rcl-card {
    background-color: "#e2e1e0" !important
}

.rcl-card {
    border: .1px dashed black;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.rcl-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rcl-paper {
    background: #fff;
    box-shadow:
        /* The top layer shadow */
        0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */
        0 10px 0 -5px #eee,
        /* The second layer shadow */
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */
        0 20px 0 -10px #eee,
        /* The third layer shadow */
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

.rclPaper {
    background: #fff;
    box-shadow:
        /* The top layer shadow */
        0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */
        0 10px 0 -5px #eee,
        /* The second layer shadow */
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */
        0 20px 0 -10px #eee,
        /* The third layer shadow */
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

.pluralSightCard {
    background: white;
    box-shadow: 0 0 0.7142857142857143rem #cccccc;
    padding: 1.1428571428571428rem 2.2857142857142856rem 0.5714285714285714rem 2.2857142857142856rem;
    margin: 1.7142857142857142rem 0;
    border-radius: 0.21428571428571427rem;
    position: relative;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    /* height: 300px; */
    margin: 1rem;
    position: relative;
    /* width: 300px; */
    cursor: pointer;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

::-webkit-scrollbar {
    width: 10px;
}
.card_rclCard__OlGDm {
    /* border: .1px dashed black; */
    border: 0.1px solid #ddd;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card_rclCard__OlGDm:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_rclPaper__2oBl- {
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }
.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #E7FDD8;
    color: black;
    border: .1px dashed black;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators>button {
    margin: 5px;
}

.indicators>button.active {
    background-color: green;
    color: #fff;
}
.rcl-close, .rcl-close-rounded {
    padding: 2px;
    cursor: pointer;
   
}

.rcl-close:hover {
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 10%)
}

.rcl-close-rounded:hover {
    padding: 2px;
    background-color: rgb(0 0 0 / 10%)
}
.img {
    vertical-align: middle;
}

.rounded {
    border-radius: 50%;
}

.rounded-border {
    border-radius: 50%;
}

.bordered {
    border: 1px dashed black;
}

.shadow {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.edge-rounded {
    border-radius: 20px;
}

.rc-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.rc-list-item {
    background-color: #fff;
    padding: .4rem 1rem;

}

.default {
    border: 1px solid #ddd;
    margin-top: -1px;
}

.bottomBorder {
    border-bottom: 1px solid #ddd;
}
/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.navbar {
    background-color: #0A192B;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
    margin: 0;
    border-radius: 0;
}
.rcl-loader {
    margin: 0 auto;
}
.rcl-loader::after{
    content: '';
    position: absolute;
    display: block;
}

.rcl-loader {
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    background-image: url("data:image/svg+xml,%3Csvg stroke=%27%23000000%27 viewBox=%270 0 18 18%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m9 16.9c-4.3 0-7.9-3.5-7.9-7.9s3.6-7.9 7.9-7.9v-1.1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9h-1.1c0 4.3-3.6 7.9-7.9 7.9z%27/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation-name: spinAnimation;
            animation-name: spinAnimation;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    display: block;
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .spin-loader-icon{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: 0.25rem solid black;
      border-top-color: transparent;
      -webkit-animation: spin 1s infinite linear;
      animation: spin 1s infinite linear;
      display: inline-block;
      vertical-align: middle;
  }


@keyframes spinAnimation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinAnimation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
:root {
    --main-color: #1da1f2;
    --background-color: #d7d7db;

    --tooltip-text-color: white;
    --tooltip-background-color: black;
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
}

@supports (color: rgb(0 0 0 / 0)) {
:root {
    --tooltip-background-color: rgb(26, 32, 44);
}
}
/* Wrapping */
.Tooltip-Wrapper {
    display: inline-block;
    position: relative;
  }
  
  /* Absolute positioning */
  .Tooltip-Tip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 6px;
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
  }
  
  /* CSS border triangles */
  .Tooltip-Tip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.top {
    top: calc(var(--tooltip-margin) * -1);
  }
  /* CSS border triangles */
  .Tooltip-Tip.top::before {
    top: 100%;
    border-top-color: var(--tooltip-background-color);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
  }
  /* CSS border triangles */
  .Tooltip-Tip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background-color);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.bottom {
    bottom: calc(var(--tooltip-margin) * -1);
  }
  /* CSS border triangles */
  .Tooltip-Tip.bottom::before {
    bottom: 100%;
    border-bottom-color: var(--tooltip-background-color);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.left {
    left: auto;
    right: calc(100% + var(--tooltip-margin));
    top: 50%;
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
  }
  /* CSS border triangles */
  .Tooltip-Tip.left::before {
    left: auto;
    right: calc(var(--tooltip-arrow-size) * -2);
    top: 50%;
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
    border-left-color: var(--tooltip-background-color);
  }
  

/*# sourceMappingURL=main.a16da951.css.map*/